html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  /* where we define our variables */
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --h1: 7rem;
  --h2: 6rem;
  --h3: 5rem;
  --h4
  --h5
}

.warm {
  --primary: var(--light-red);
}

.cool {
  --primary: var(--light-blue);
}

body {
  background-color: var(--primary);
}
