@import url(variables.css);

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "La Belle Aurore", serif;
  font-weight: 400;
}

.light {
  --primary: var(--light-red);
}

.dark {
  --primary: var(--dark-navy);
}

body {
  background-color: var(--primary);
}

h1 {
  font-size: var(--h1);
}

#container {
  display: flex;
  width: 90vw;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 30%;
  height: 40vw;
  border: 5px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 1px;
  background-color: rgb(130, 104, 177);
  box-shadow: 7px 7px 5px rgb(86, 58, 136);
}

.card-img {
  object-fit: contain;
  width: 90%;
}
