html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  /* where we define our variables */
  --
  --h1: 7.594rem;
  --h2: 5rem;
  --h3: 4rem;
  --h4: 3rem;
  --h5: 2rem;
}

.light {
  --primary: var(--light-red);
}

.dark {
  --primary: var(--light-blue);
}

body {
  background-color: var(--primary);
}
