:root {
  --h1: 5.61rem;
  --h2: 4.209rem;
  --h3: 2.8rem;

  /* Dark Mode */
  --dark-navy: #121633;
  --light-blue: #c2d7ea;
  --light-red: #e02d4e;
  --light-dark-blue: #201c3c;

  /* Light Mode */
  --pistachio: #b3deb7;
  --blackish: #22242a;
  --forest-green: #214a49;
}
